/* colors variables */
/* header hero txt, background and white txt */
/* header hero txt and brand icon */
/* txt under header hero txt */
/* fonts buttons, search icon and ornament frame*/
/*buttons txt color*/
/* titles of cities images */
/* font style*/
/* global box-sizing*/
* {
  outline: none;
  font-family: "Montserrat", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*buttons style*/
.button {
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  background-color: #FFC74A;
  color: #b98000;
  border-radius: 30px;
  padding: 15px;
  font-size: 17px;
  font-weight: bold;
  border-style: none;
  width: 155px;
  height: 52px;
}

/*for $yellow color buttons*/
.btn-clicked:hover {
  box-shadow: inset 0 0 0 1000px rgba(185, 128, 0, 0.4);
}

.btn-clicked:active {
  box-shadow: inset 0 0 0 1000px rgba(185, 128, 0, 0.7);
}

/* for grey and row-gallery white buttons*/
.grey-btn-clicked:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
}

.grey-btn-clicked:active {
  box-shadow: inset 0 0 0 1000px #ffc74a;
}

/* for white buttons */
.white-btn-clicked:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
}

.white-btn-clicked:active {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}

/* header */
.header {
  height: 100%;
  width: 100%;
  background-image: url("https://i.postimg.cc/d3J7X4wG/forest.png");
  background-position: center center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}
.header .nav {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  /*----------------------------dropdown-btn---------------------------*/
  /*dropdown-btn end */
}
.header .nav .logo {
  height: 100%;
  width: auto;
  max-width: 150px;
  display: flex;
  flex-direction: row;
  margin: 15px 20px 20px 50px;
}
.header .nav .logo a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.header .nav .logo a:active {
  box-shadow: inset 0 0 0 1000px rgba(231, 231, 231, 0.02);
  border-radius: 5px;
  border-width: medium;
  width: auto;
}
.header .nav .logo img {
  margin: auto;
  margin-right: 30px;
}
.header .nav .logo p {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
}
.header .nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-right: 20px;
}
.header .nav ul a {
  text-decoration: none;
}
.header .nav ul li {
  color: #ffffff;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
}
.header .nav ul li:hover {
  font-size: 20px;
}
.header .nav ul .search {
  color: #FFC74A;
}
.header .nav ul .search:hover {
  font-size: 24px;
}
.header .nav .dropdown-btn {
  visibility: hidden;
}
.header .nav .dropdown-btn .dropbtn {
  background-color: transparent;
  color: #FFC74A;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}
.header .nav .dropdown-btn .dropdown {
  position: relative;
  display: inline-block;
}
.header .nav .dropdown-btn .dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header .nav .dropdown-btn .dropdown-content a {
  color: #FFC74A;
  font-weight: bold;
  padding: 12px;
  text-decoration: none;
  display: block;
  width: auto;
  border-radius: 10px;
}
.header .nav .dropdown-btn .dropdown-content a:hover {
  background-color: transparent;
}
.header .nav .dropdown-btn .dropdown:hover .dropdown-content {
  display: block;
  width: auto;
}
.header .nav .dropdown-btn .dropdown:hover .dropbtn {
  background-color: transparent;
  border: none;
}
.header .center-header-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: calc(100vh);
}
.header .center-header-section .text p {
  margin: 0;
}
.header .center-header-section .text .big {
  font-size: 80px;
  font-weight: bold;
}
.header .center-header-section .text .white {
  color: #ffffff;
}
.header .center-header-section .text .red {
  color: #ED6950;
}
.header .center-header-section .text .small {
  color: #867e7e;
  font-weight: bold;
  font-size: 20px;
}
.header .btn-header {
  margin-top: 50px;
  margin-bottom: 210px;
  width: 240px;
  height: 52px;
  font-size: 20x;
}
.header .bottom-header-text {
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: 2px;
  margin-bottom: 55px;
}

/*horizontal gallery between containers*/
.horizontal-gallery {
  background: linear-gradient(to bottom, transparent 50%, #f7f7f7 0%);
}
.horizontal-gallery .horizontal-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.horizontal-gallery .horizontal-wrapper .central-images {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.horizontal-gallery .horizontal-wrapper .central-images h2 {
  color: #ffffff;
  letter-spacing: 1px;
}
.horizontal-gallery .horizontal-wrapper .central-images p {
  color: #FFC74A;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 50px;
}
.horizontal-gallery .horizontal-wrapper .central-images .central-btn {
  width: 215px;
  height: 49px;
  background-color: #FFC74A;
  color: #b98000;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: none;
  margin-top: 30px;
}
.horizontal-gallery .horizontal-wrapper .central-images:hover {
  font-size: 20px;
  justify-content: center;
}
.horizontal-gallery .horizontal-wrapper .central-images:hover h2 {
  margin-top: 80px;
}
.horizontal-gallery .horizontal-wrapper .central-images:hover p {
  color: #ffffff;
  margin-bottom: 50px;
}
.horizontal-gallery .horizontal-wrapper .central-images:hover .central-btn {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;
}
.horizontal-gallery .horizontal-wrapper .horizontal-box-1 {
  background-image: url("https://i.postimg.cc/13VxxSWr/dark-castle.png");
  background-position: center center;
  background-size: cover;
  margin-right: 25px;
}
.horizontal-gallery .horizontal-wrapper .horizontal-box-2 {
  background-image: url("https://i.postimg.cc/V6Rp9k6m/zakopane-mountains.png");
  background-position: center center;
  background-size: cover;
  margin-right: 25px;
}
.horizontal-gallery .horizontal-wrapper .horizontal-box-3 {
  background-image: url("https://i.postimg.cc/Zq61Rcz9/Sandomierz-dark.png");
  background-position: center center;
  background-size: cover;
  margin-right: 25px;
}
.horizontal-gallery .horizontal-wrapper .horizontal-box-4 {
  background-image: url("https://i.postimg.cc/DZFRbX7x/sopot.png");
  background-position: center center;
  background-size: cover;
  margin-right: 25px;
}
.horizontal-gallery .horizontal-wrapper .horizontal-box-5 {
  background-image: url("https://i.postimg.cc/XYRR4PmS/dark-forest.png");
  background-position: center center;
  background-size: cover;
}

/*main content section*/
.main {
  margin-top: 60px;
}
.main .gallery-box {
  height: 100%;
  width: auto;
  background: #fdfdfe;
  background: linear-gradient(90deg, #fdfdfe 0%, #eeeeee 45%, #fdfdfe 100%);
}
.main .gallery-box .center-box {
  margin: 0 50px 0 50px;
  padding: 10px 50px 10px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gallery nav buttons under search bar*/
  /* two rows gallery */
}
.main .gallery-box .center-box h2 {
  color: #606F81;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
.main .gallery-box .center-box .search-bar {
  width: 811px;
  height: 60px;
  border-radius: 30px;
  background-color: #ffffff;
  border-style: none;
  opacity: 0.5;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-indent: 30px;
}
.main .gallery-box .center-box ::placeholder {
  color: #a4aab1;
}
.main .gallery-box .center-box :focus {
  border: none;
  border-style: hidden;
  outline: none;
}
.main .gallery-box .center-box .gallery-navigation {
  width: 811px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main .gallery-box .center-box .gallery-navigation .nav-left .sort-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.main .gallery-box .center-box .gallery-navigation .nav-left .sort-nav-list .btn-grey {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 104px;
  height: 31px;
  font-size: 14px;
  font-weight: bold;
  line-height: 6px;
  color: #ffffff;
  border: none;
  background-color: #c0c9d7;
}
.main .gallery-box .center-box .gallery-navigation .nav-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main .gallery-box .center-box .gallery-navigation .nav-right .sort-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  justify-content: flex-end;
}
.main .gallery-box .center-box .gallery-navigation .nav-right .sort-nav-list .btn-white {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 104px;
  height: 31px;
  font-size: 14px;
  font-weight: bold;
  line-height: 6px;
  color: #867e7e;
  border: 1px solid #E9EDF2;
  background-color: #FBFBFC;
}
.main .gallery-box .center-box .two-rows-gallery {
  display: flex;
  flex-direction: column;
}
.main .gallery-box .center-box .two-rows-gallery .row-1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.main .gallery-box .center-box .two-rows-gallery .row-2 {
  display: flex;
  flex-direction: row;
}
.main .gallery-box .center-box .two-rows-gallery .row-box {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.main .gallery-box .center-box .two-rows-gallery .row-box h3 {
  margin: 0;
  letter-spacing: 2px;
  font-size: 27px;
  color: #606F81;
}
.main .gallery-box .center-box .two-rows-gallery .row-box p {
  margin: 0;
  font-weight: 600;
  opacity: 0.4;
}
.main .gallery-box .center-box .two-rows-gallery .row-box .btn-row {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 165px;
  height: 40px;
  border-radius: 30px;
  border-style: none;
  font-size: 16px;
  font-weight: bold;
  color: #d3d8e2;
  background-color: #ffffff;
  border: 1px solid #d6d6d6;
}

.description-section {
  background-color: #F8F9FB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.description-section .description-header {
  margin-top: 20px;
  text-align: center;
  color: #606F81;
  font-size: 20px;
}
.description-section .description-content {
  position: relative;
  display: flex;
  width: 1200px;
  z-index: 1;
}
.description-section .description-content .description-box {
  width: auto;
  flex: 1;
  text-align: left;
  line-height: 2.2;
  margin-bottom: 100px;
  margin-right: 20px;
  color: #9DA5AF;
  font-weight: bold;
}
.description-section .description-content .description-box h3 {
  margin: 0;
  margin-top: 15px;
  color: #FFC74A;
  font-size: 40px;
}
.description-section .description-content .description-box p {
  text-align: left;
}
.description-section .description-content .description-box .button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 49px;
}
.description-section .description-content .description-image {
  flex: 1;
  position: relative;
  margin-top: 20px;
  background-image: url("https://i.postimg.cc/0NvWyKGZ/sandomierz.png");
  background-position: center center;
  background-size: cover;
  width: 500px;
  height: 500px;
}
.description-section .description-content .description-image::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 500px;
  height: 500px;
  background: none;
  border: 12px solid #FFC74A;
  z-index: -1;
  left: 65%;
  top: 58%;
  transform: translate(-50%, -50%);
}

.pre-footer {
  background-image: url("https://i.postimg.cc/gcKm4G5w/field.png");
  background-position: center center;
  background-size: cover;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pre-footer h2 {
  font-size: 85px;
  color: white;
  margin-top: 20px;
  margin-bottom: 60px;
}
.pre-footer a.button {
  margin-bottom: 30px;
}
.pre-footer p {
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
.pre-footer p a {
  color: #FFC74A;
}

footer {
  background: #f7f7f7;
  background: linear-gradient(90deg, #f7f7f7 10%, #f0f0f0 50%, #f7f7f7 88%);
}
footer .footer-wrapper {
  background-image: url("https://i.postimg.cc/d059jFVT/polind-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  font-size: 20px;
  font-weight: bold;
  color: #606F81;
  position: relative;
}

@media (max-width: 1100px) {
  .header {
    height: 100%;
  }
  .header .center-header-section {
    margin-top: 20px;
  }
  .header .btn-header {
    margin-bottom: 20px;
  }
  .header .horizontal-gallery .horizontal-wrapper .central-images {
    width: 100%;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0;
  }
  .header .horizontal-gallery .horizontal-wrapper .central-images h2 {
    margin-top: 30px;
  }
  .header .horizontal-gallery .horizontal-wrapper .central-images p {
    margin-bottom: 30px;
  }

  .main {
    margin-top: 5px;
  }
  .main .gallery-box .center-box h2 {
    font-size: 25px;
    margin-top: 20px;
  }
  .main .gallery-box .center-box .search-bar {
    width: 400px;
  }
  .main .gallery-box .center-box .gallery-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .gallery-box .center-box .gallery-navigation .nav-left, .main .gallery-box .center-box .gallery-navigation .nav-right {
    width: 382px;
  }
  .main .gallery-box .center-box .gallery-navigation .sort-nav-list {
    padding: 0;
  }
  .main .gallery-box .center-box .two-rows-gallery {
    display: flex;
    flex-direction: row;
  }
  .main .gallery-box .center-box .two-rows-gallery .column-mobile {
    display: flex;
    flex-direction: column;
  }
  .main .gallery-box .center-box .two-rows-gallery .column-mobile .mobile-box {
    width: 280px;
  }
  .main .gallery-box .center-box .two-rows-gallery .column-mobile .mobile-box img {
    width: 100%;
    height: auto;
  }

  .description-section .description-content {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description-section .description-content .description-box {
    text-align: center;
    width: auto;
    padding: 0 50px 0 50px;
  }
  .description-section .description-content .description-box p {
    text-align: left;
    padding: 0 50px 0 50px;
  }
  .description-section .description-content .description-image {
    display: none;
  }
  .description-section .description-content .description-image::before {
    display: none;
  }

  .pre-footer {
    width: 100%;
    height: auto;
  }
  .pre-footer h2 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  body {
    margin: 0;
  }
  .header .nav .logo .dropdown-btn .dropdown .dropdown-content {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.9);
    margin-right: 20px;
    width: auto;
    border-radius: 10px;
  }

  .none {
    display: none;
  }

  .header .nav {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }
  .header .nav .logo {
    display: flex;
    margin-bottom: 20px;
  }
  .header .nav .logo a {

  }
  .header .nav .logo img {
    margin-right: 5px;
    margin-left: 50px;
  }
  .header .nav .logo .dropdown-btn {
    visibility: visible;
    margin-right: 150px;
  }
  .header .nav ul {
    display: none;
    margin-top: 5px;
    margin-left: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .header .nav ul li {
    margin-top: 15px;
    font-size: 16px;
    color: #FFC74A;
    margin-right: 15px;
    display: none;
  }
  .header .center-header-section {
    margin-top: 10px;
    height: 450px;
  }
  .header .center-header-section .text {
    margin-bottom: 40px;
  }
  .header .center-header-section .text .big {
    font-size: 45px;
  }
  .header .center-header-section .text .small {
    display: none;
  }
  .header .center-header-section .button {
    display: none;
  }
  .header .center-header-section p {
    margin-top: 20px;
  }
  .header .horizontal-gallery {
    display: none;
  }

  .main {
    margin-top: 5px;
  }
  .main .gallery-box .center-box {
    margin: 0;
    padding: 0;
  }
  .main .gallery-box .center-box h2 {
    font-size: 23px;
  }
  .main .gallery-box .center-box .search-bar {
    width: auto;
  }
  .main .gallery-box .center-box .gallery-navigation {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .gallery-box .center-box .gallery-navigation .nav-left, .main .gallery-box .center-box .gallery-navigation .nav-right {
    width: auto;
  }
  .main .gallery-box .center-box .gallery-navigation .sort-nav-list {
    padding: 0;
  }
  .main .gallery-box .center-box .two-rows-gallery {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .main .gallery-box .center-box .two-rows-gallery .column-mobile {
    display: flex;
    flex-direction: column;
  }
  .main .gallery-box .center-box .two-rows-gallery .column-mobile .mobile-box {
    width: auto;
    height: 215px;
    padding: 0;
  }
  .main .gallery-box .center-box .two-rows-gallery .column-mobile .mobile-box h3 {
    font-size: 20px;
  }
  .main .gallery-box .center-box .two-rows-gallery .column-mobile .mobile-box img {
    width: 100%;
    height: auto;
  }
  .main .gallery-box .center-box .two-rows-gallery .column-mobile .mobile-box .button {
    width: 120px;
  }

  .description-section {
    align-items: center;
  }
  .description-section .description-content {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .description-section .description-content .description-box {
    margin: 0;
    width: auto;
    word-wrap: break-word;
  }
  .description-section .description-content .description-box h3 {
    align-self: center;
  }
  .description-section .description-content .description-image {
    width: 100px;
    height: 100px;
  }
  .description-section .description-content .description-image::before {
    display: none;
  }

  .pre-footer {
    width: 100%;
    height: auto;
  }
  .pre-footer h2 {
    font-size: 35px;
  }
}
@media (max-width: 560px) {
  .header nav ul {
    display: none;
  }

  .header .nav {
    justify-content: space-around;
  }

  .header .nav .logo{
    margin: 20px 20px 0 0;
    display: flex;
  }

  .header .nav a img{
    margin-right:10px;
    height: 50px;
  }
  .header .nav .logo a p{
    font-size: 25px;
  }

  .header .nav .logo .dropdown-btn {
    visibility: visible;
    margin-right: 20px;
  }
  .header .nav .logo .dropdown-btn .dropdown .dropdown-content {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.9);
    margin-right: 20px;
    width: auto;
  }

  .main {
    margin: 0;
  }
  .main .gallery-box .center-box {
    margin: 0;
    padding: 0;
  }
  .main .gallery-box .center-box .gallery-navigation {
    width: auto;
  }
  .main .gallery-box .center-box .gallery-navigation .nav-left, .main .gallery-box .center-box .gallery-navigation .nav-right {
    display: none;
  }
  .main .gallery-box .center-box .two-rows-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .gallery-box .center-box .two-rows-gallery .column-mobile .mobile-box {
    width: auto;
  }
  .main .gallery-box .center-box .two-rows-gallery .column-mobile .mobile-box .button {
    display: none;
  }

  .description-section {
    margin: 0;
  }
  .description-section .description-content {
    width: auto;
  }
  .description-section .description-content .description-box {
    margin-bottom: 0;
    text-align: center;
    padding: 40px;
  }
  .description-section .description-content .description-box h3 {
    font-size: 20px;
  }
  .description-section .description-content .description-box p {
    text-align: left;
    font-size: 14px;
    padding: 0;
  }

  .pre-footer h2 {
    margin-top: 30px;
    font-size: 25px;
  }
  .pre-footer p {
    text-align: center;
    font-size: 20px;
  }

  footer .footer-wrapper {
    background-image: url("https://i.postimg.cc/d059jFVT/polind-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 180px 60px;
  }
  footer .footer-wrapper p {
    font-size: 18px;
  }
}
